{% load comment_block %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}博客页面{% endblock %}- typeidea 博客系统</title>
    <meta name="'viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.css">
    <style>
    .post {
        margin-bottom: 5px;
    }
    </style>
</head>


<body>




   <div class="container head">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">博文页</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Python</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#">Django实战</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#">Tornado</a> </li>
                </ul>
                <form class="'form-inline " action="/search/"  method="GET">
                    <input class="form-control " type="search" name="keyword"
                           placeholder="Search" aria-label="Search" value="{{ keyword }}">
                    <button class="btn btn-outline-success" type="submit">搜索</button>
                </form>
            </div>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4">Typeidea</h1>
            <p class="lead">基于Django的多人博客系统</p>
        </div>
    </div>
    <div class="container main">
        <div class="row">
            <div class="col-9 post-list">



                {% block extra_head %}
                <link  rel="stylesheet"  href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai.min.css">
                <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
                <script>
                    hljs.initHighlightingOnLoad();
                </script>
                {% endblock %}



                {% block main %}

                <h1>{{ post.title }}</h1>
            <div>
                <span>分类:<a href="#">{{ post.category.name }}</a></span>
                <span>作者:<a href="#">{{ post.owner.username }}</a></span>

            </div>
            <hr/>
            <p>
                {% autoescape off %}
                内容：{{ post.content_html }}
                {% endautoescape %}
            </p>
            <hr/>
            {% comment_block request.path %}


            </div>
            <div class="col-3">
                {% block sidebar %}
                    {% for sidebar in sidebars %}
                    <div class="card sidebar">
                        <div class="card-body">
                            <h4 class="card-title">{{ sidebar.title }}</h4>
                            <p>{{ sidebar.content_html }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div >
    </div>
{% endblock %}

<body/>

